body { 
    background: #FFD9F2;
    background: -moz-linear-gradient(-45deg, #FFD9F2 0%, #7F5EFF 100%);
    background: -webkit-linear-gradient(-45deg, #FFD9F2 0%, #7F5EFF 100%);
    background: linear-gradient(135deg, #FFD9F2 0%, #7F5EFF 100%);
}
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

#name {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 65px;
    color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
#articles {
padding:5%;
background-color: black;
}
#accordion {
    border: 5px ridge rgba(13,51,76,0.68);
    border-radius: 40px;

}
#title {
    margin-left: 0%;
    font-size: 26px;
    padding: 10%;
    color: black;

}

#right {
    float:right;
    width: 30%;
}